<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455160621264-2u8pa3l72eg9vsdhvr9699e82qimt6fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455160621264-2u8pa3l72eg9vsdhvr9699e82qimt6fl</string>
	<key>API_KEY</key>
	<string>AIzaSyB9J9upYWI7nWYJLLL7QPTFDN220vzOUZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>455160621264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MK.WAS</string>
	<key>PROJECT_ID</key>
	<string>was-hci-3d</string>
	<key>STORAGE_BUCKET</key>
	<string>was-hci-3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455160621264:ios:6e254e25384848615096d5</string>
	<key>DATABASE_URL</key>
	<string>https://was-hci-3d.firebaseio.com</string>
</dict>
</plist>